<h2>Welcome to the Timber Ruby / Rails example app</h2>
<p>
  Endpoints for generating useful logs:

  <ul>
    <li><a href="/products">Products CRUD - good for SQL queries</a></li>
    <li><a href="/exception">Generate an exception</a></li
  </ul>
</p>